
/* =========================
   LOGIN / AUTH
========================= */

.auth-container {
  max-width: 500px;
  max-height: 450px;
  margin-top: 60px;
  margin-bottom: 325px;
  background: var(--bg-card);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  border: 1px solid #e8e8e8;
}

.auth-container h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.login-title {
  color:#FFCB05;
  text-shadow: 3px 2px 0 #ff3333;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--text-muted);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  background: #f9f9f9;
  color: #5a5a5a;
}

.form-group input:focus {
  outline: 2px solid var(--secondary);
}

.btn-primary {
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(135deg, var(--btn-blue-start), var(--btn-blue-end));
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(135deg, var(--btn-blue-end), var(--btn-blue-start));
  color: var(--btn-yellow);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(59, 76, 202, 0.3);
}

.auth-link {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

/* ERRO */
.error-msg {
  background: rgba(255, 107, 107, 0.15);
  color: var(--danger);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 14px;
  text-align: center;
}